body {
    background-color: #F5F5F5;
    color: #2B2B2B;
    font-family: 'Lato', sans-serif;
}

.menu {
    list-style-type: none;  
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top {
    background-color: #FFF;
}

.menu-content {
    display: inline-block;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    width: 90px;
    height: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.header {
    text-align: left;
    margin-left: 30px;
}

.text-content {
    text-align: center;
    font-size: 19pt;
}

.tagline {
    font-size: 25px;
}
hr {
    border: 0;
    margin-top: 30px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1 {
    font-size: 60px;
}
